/* button */

[class*='btn-'] {
    display: inline-block;
    min-width: 4rem;
    border-width: 1px;
    border-style: solid;
    border-radius: .25em;
    padding: .4em 1.25em;
    text-align: center;
    cursor: pointer;
    transition: .3s;
}

[class*='btn-'].small {
    min-width: initial;
}

.btn-flat {
    color: white;
}

.btn-flat:hover {
    color: #1a1a1a;
    border-color: white;
    background-color: white;
}

.btn-prime {
    color: white;
    font-size: 14px;
    background-color: #1CBAA2;
    border-color: #1CBAA2;
}

.btn-prime:hover {
    box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, .2);
}

.btn-tip {
    border: none;
    font-size: .875rem;
}

.btn-tip:hover {
    background-color: rgba(0, 0, 0, .2);
}

/* 滑动开关 */

.slidebar {
    position: relative;
    display: block;
    background-color: #828282;
    height: 15px;
    width: 40px;
    border-radius: 15px;
    cursor: pointer;
    transition: .3s;
}

.slidebar:after {
    content: '';
    position: absolute;
    display: inline-block;
    top: 50%;
    left: -3px;
    width: 21px;
    height: 21px;
    border-radius: 50%;
    background-color: #e0e0e0;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .4);
    transform: translateY(-50%);
    transition: .3s;
}

.slidebar.on {
    background-color: #F5C28A;
}

.slidebar.on:after {
    left: 22px;
    background-color: #F5AD8A;
}