/* button */

[class*='btn-'] {
    display: inline-block;
    min-width: 4rem;
    border-width: 1px;
    border-style: solid;
    border-radius: .25em;
    padding: .4em 1.25em;
    text-align: center;
    cursor: pointer;
    transition: .3s;
}

[class*='btn-'].small {
    min-width: initial;
}

.btn-flat {
    color: white;
}

.btn-flat:hover {
    color: #1a1a1a;
    border-color: white;
    background-color: white;
}

.btn-prime {
    color: white;
    font-size: 14px;
    background-color: #1CBAA2;
    border-color: #1CBAA2;
}

.btn-prime:hover {
    box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, .2);
}

.btn-tip {
    border: none;
    font-size: .875rem;
}

.btn-tip:hover {
    background-color: rgba(0, 0, 0, .2);
}