/* color */
.text-blue {
    color: #1FB2EA;
}

.text-dark-blue {
    color: #0470BA;
}

.text-green {
    color: #B6EFCA;
}

.text-dark-green {
    color: #7EE2CF;
}

.text-brown {
    color: #B1A29C;
}

.text-dark-brown {
    color: #A5938C;
}

.text-purple {
    color: #9874B8;
}

.text-dark-purple {
    color: #796095;
}

.text-orange {
    color: #F5C28A;
}

.text-dark-orange {
    color: #F5AD8A;
}

.bg-red {
    background-color: #FFBA84;
}

.bg-orange {
    background-color: #E2943B;
}

.bg-yellow {
    background-color: #F7C242;
}

.bg-green {
    background-color: #86C166;
}

.bg-blue {
    background-color: #33A6B8;
}

.bg-purple {
    background-color: #8A6BBE;
}