/* layout */

.container {
    width: 75%;
    margin: auto;
}

.left {
    float: left;
}

.right {
    float: right;
}

.clear:before,
.clear:after
{
    content: '';
    display: table;
    clear: both;
}

/* other */

.disable-select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.hidden {
    display: none;
}