/* icon */

[class*='icon-'] {
    display: inline-block;
    background: center no-repeat;
    min-width: 16px;
    min-height: 16px;
    margin-right: 5px;
}

.icon-delete {
    background-image: url(../../img/delete.png);
}

.icon-delete:hover {
    background-image: url(../../img/delete-d.png);
}

.icon-edit {
    background-image: url(../../img/edit.png);
}

.icon-edit:hover {
    background-image: url(../../img/edit-d.png);
}

.icon-horizontal-page {
    background-image: url("../../img/horizontal-page.png");
}

.icon-double-page {
    background: url("../../img/double-page.svg");
}

.icon-vertical-page {
    background-image: url("../../img/vertical-page.png");
}