* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* paper style */

html, body {
    height: 100%;
    background-color: #F2F4F5;
    font-family: sans-serif;
}

main {
    position: relative;
    padding-top: 60px;
    height: 100%;
}

.fixed-navbar {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 100;
}

.welcome {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 50%;
    padding: 20px;
    font-size: 1.25rem;
    text-align: center;
    background-color: #fff;
    box-shadow: 0 .5px 1px 0 rgba(0, 0, 0, .12);
}

.welcome-info > p {
    text-align: center;
    margin-bottom: 5px;
}

/*TODO: 响应式*/
.book-list {
    width: 1200px;
    margin: auto;
    overflow: auto;
    display: flex;
    flex-wrap: wrap;
}

.book {
    width: 260px;
    margin: 40px 20px 20px;
    /*float: left;*/
    border-radius: 5px;
    overflow: hidden;
    background-color: #FFF;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
    transition: box-shadow .3s;
}

.book:hover {
    box-shadow: 0 2px 15px rgba(0, 0, 0, .2);
}

.book-head {
    position: relative;

    width: 260px;
    height: 160px;
    padding: 25px 35px;
    overflow: hidden;
    cursor: pointer;
}

.cover {
    position: relative;

    width: 190px;
    height: 110px;
    background-color: #FFF;
}

.cover-border {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;

    width: 150px;
    height: 70px;
    border: 2px solid #000;
    outline: 4px solid #000;
    outline-offset: 6px;
}

.book-title {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: inherit;
    height: inherit;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.book-body {
    padding: 10px;
}

.mask {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    visibility: hidden;
    z-index: 98;
    transition: all .3s;
}

.mask-content {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    padding: 15px;
    opacity: 0;
    z-index: 99;
}

.mask-content:hover {
    opacity: 1;
}

.mask-content:hover + .mask {
    visibility: visible;
    opacity: .6;
    background-color: #1a1a1a;
}

.mask-bottom {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.logo {
    font-family: 'Titillium Web', sans-serif;
    font-size: 1.5rem;
}

.navbar {
    width: 100%;
    height: 60px;
    background-color: white;
    box-shadow: 0 .5px 1px rgba(0, 0, 0, .15);
}

nav > ul {
    height: inherit;
}

nav > ul > li {
    float: left;
    display: flex;
    align-items: center;
    height: inherit;
}

.navbar-right {
    float: right;
}

.navbar-right input {
    display: none;
}

.modal {
    padding: 0;
    width: 40%;
}

.modal-header,
.modal-content,
.modal-footer
{
    padding: 10px;
}

.modal-header {
    border-bottom: 1px solid #dedede;
}

.modal-footer {
    background-color: rgba(28, 186, 163, 0.15);
}

.modal-footer .btn-tip:hover {
    background-color: rgba(28, 186, 163, 0.2);
}